<section class="section">
    <div class="container is-fluid columns-container">
        <div class="column is-half is-offset-one-quarter">

            <h1 class="title is-1 animal-title">Add a new animal!</h1>
            <div class="form-container">
                <form id="edit-form">
                    <div class="field">
                        <label class="label">Name</label>
                        <p class="control" ng-class="{ 'has-icon has-icon-right': hasErrors('name') }">
                            <input class="input"
                                   ng-class="{ 'is-danger': hasErrors('name') }"
                                   type="text"
                                   ng-model="animal.name"
                                   ng-change="clearErrors('name')">
                            <span class="icon is-small" ng-if="hasErrors('name')">
                                <i class="fa fa-warning"></i>
                            </span>
                        </p>
                        <p class="help is-danger" ng-if="hasErrors('name')">
                            {$ getError('name') $}
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Species</label>
                        <p class="control">
                            <md-autocomplete
                                    ng-class="{ 'is-danger': hasErrors('species_id') }"
                                    md-no-cache="AnimalAddController.noCache"
                                    md-selected-item="AnimalAddController.selectedItem"
                                    md-search-text-change="AnimalAddController.searchTextChange(AnimalAddController.searchText)"
                                    md-search-text="AnimalAddController.searchText"
                                    md-selected-item-change="AnimalAddController.selectedItemChange(item)"
                                    md-items="item in AnimalAddController.querySearch(AnimalAddController.searchText)"
                                    md-item-text="item.display"
                                    md-min-length="0"
                                    placeholder="Pick a species or add new!">
                                <md-item-template>
                                    <span md-highlight-text="AnimalAddController.searchText"
                                          md-highlight-flags="^i">{$ item.display $}</span>
                                </md-item-template>
                                <md-not-found>
                                    <a ng-click="AnimalAddController.createNewSpecies(AnimalAddController.searchText)">
                                        No species matching "{$ AnimalAddController.searchText $}" were found.
                                        Create a new one!
                                    </a>
                                </md-not-found>
                            </md-autocomplete>
                        </p>
                        <p class="help is-danger" ng-if="hasErrors('species_id')">
                            {$ getError('species_id') $}
                        </p>
                    </div>
                </form>
            </div>
            <div class="form-container submit-container">
                <button type="submit" class="button is-primary" ng-click="saveAnimal()">Save</button>
                <a href="#/animals" class="button is-link">Cancel</a>
            </div>
        </div>
    </div>
</section>
