<section class="section">
    <div class="container columns-container">
        <div class="column is-half is-offset-one-quarter">

            <h1 class="title is-1 animal-title">Add {$ animal.name $}</h1>
            <div class="form-container">
                <form id="edit-form">
                    <div class="field">
                        <label class="label">Name</label>
                        <p class="control">
                            <input class="input" type="text" value="{$ animal.name $}" ng-model="animal.name">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Species</label>
                        <p class="control">
                            <md-autocomplete
                                    md-no-cache="AnimalAddController.noCache"
                                    md-selected-item="AnimalAddController.selectedItem"
                                    md-search-text-change="AnimalAddController.searchTextChange(AnimalAddController.searchText)"
                                    md-search-text="AnimalAddController.searchText"
                                    md-selected-item-change="AnimalAddController.selectedItemChange(item)"
                                    md-items="item in AnimalAddController.querySearch(AnimalAddController.searchText)"
                                    md-item-text="item.display"
                                    md-min-length="0"
                                    placeholder="Pick a species or add new!">
                                <md-item-template>
                                    <span md-highlight-text="AnimalAddController.searchText"
                                          md-highlight-flags="^i">{$ item.display $}</span>
                                </md-item-template>
                                <md-not-found>
                                    <a ng-click="AnimalAddController.newState(AnimalAddController.searchText)">
                                        No species matching "{$ AnimalAddController.searchText $}" were found.
                                        Create a new one!
                                    </a>
                                </md-not-found>
                            </md-autocomplete>
                        </p>
                    </div>
                </form>
            </div>
            <div class="form-container submit-container">
                <button type="submit" class="button is-primary" ng-click="saveAnimal()">Save</button>
                <a href="#/animals" class="button is-link">Cancel</a>
            </div>
        </div>
    </div>
</section>
