<section class="section">
    <div class="container columns-container">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    Animals
                    <span class="add-button"><a ng-href="#/animals/add">+</a></span>
                </p>
                <div class="panel-block" ng-repeat="(index, animal) in animals" ng-click="selectAnimal(index)">
                    <a class="link" ng-href="#/animals/{$ animal.id $}">
                        <b>{$ animal.name $}&nbsp;</b>
                    </a>
                    <p ng-show="animal.latest_sighting !== null">
                        {$ animal.latest_sighting.time $} at <a ng-href="#/locations/{$ animal.latest_sighting.location.id $}">
                            {$ animal.latest_sighting.location.name $}
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </div>
</section>
