<section class="section">
    <div class="container columns-container">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    Animals
                    <span class="add-button"><a ng-href="#/animals/add">+</a></span>
                </p>
                <div class="panel-block one-animal-container" ng-repeat="(index, animal) in animals" ng-click="selectAnimal(index)">
                    <div class="animal-div">
                        <a class="link" ng-href="#/animals/{$ animal.id $}">
                            <b>{$ animal.name $}&nbsp;</b>
                        </a>
                        <a ng-href="#/locations/{$ animal.latest_sighting.location.id $}">
                            at&nbsp;{$ animal.latest_sighting.location.name $}
                        </a>
                    </div>
                    <div class="time-div">
                        <p class="time" ng-show="animal.latest_sighting !== null">
                            {$ animal.latest_sighting.time $}
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
