{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'forest_creatures/style.css' %}">

    <script src="{% static 'forest_creatures/lib/angular.min.js' %}"></script>
    <script src="{% static 'forest_creatures/lib/angular-route.min.js' %}"></script>
    <script src="{% static 'forest_creatures/lib/angular-animate.min.js' %}"></script>
    <script src="{% static 'forest_creatures/lib/angular-aria.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>