{% extends "forest_creatures/base.html" %}
{% block content %}

    {% load static %}

    <div class="tabs is-centered">
        <ul>
            <li><a href="/animals/animals">Animals</a></li>
            <li><a href="/animals/species">Species</a></li>
            <li><a href="/animals/locations">Locations</a></li>
            <li><a href="/animals/sightings">Sightings</a></li>
            <li><a href="/animals/search">Search</a></li>
        </ul>
    </div>

    <script src="{% static 'forest_creatures/home.js' %}"></script>
    {% block tab-content %}
    {% endblock %}

{% endblock %}