{% extends "forest_creatures/base.html" %}

{% block content %}

    {% load static %}

    <div ng-app="animalsApp" ng-controller="AppController">

        <div class="tabs is-centered">
            <ul>
                <li ng-class="{'is-active': $route.current.activeLink == 'animals'}">
                    <a href="#/animals">Animals</a>
                </li>
                <li ng-class="{'is-active': $route.current.activeLink == 'species'}">
                    <a href="#/species">Species</a>
                </li>
                <li ng-class="{'is-active': $route.current.activeLink == 'locations'}">
                    <a href="#/locations">Locations</a>
                </li>
                <li ng-class="{'is-active': $route.current.activeLink == 'search'}">
                    <a href="#/search">Search</a>
                </li>
            </ul>
        </div>

        <div ng-view></div>
        <script src="{% static 'forest_creatures/app.js' %}"></script>

    </div>

{% endblock %}