<section class="section">
    <div class="container is-fluid columns-container">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    Locations
                </p>

                <a class="panel-block" ng-repeat="(index, location) in locations" ng-click="selectLocation(index)" ng-href="#/locations/{$ location.id $}">
                    {$ location.name $}
                </a>
            </nav>
        </div>
    </div>
</section>
