<section class="section">
    <div class="container is-fluid">

        <h1 class="title is-1 animal-title">{$ animal.name $}
            <a class="edit-btn" ng-href="#/animals/{$ animal.slug $}/edit">
                <svg class="edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </a>
        </h1>
        <h5 class="subtitle is-5">{$ animal.species.name $}</h5>
        <hr>

        <nav class="panel">
            <p class="panel-heading">
                Sightings
                <a class="add-button" ng-href="#/animals/{$ animal.slug $}/edit">+</a>
            </p>

            <label class="panel-block sighting" ng-repeat="sighting in sightings">

                {$ sighting.time $} at&nbsp;
                <a ng-href="#/locations/{$ sighting.location.id $}">
                    {$ sighting.location.name $}
                </a>

            </label>

        </nav>

    </div>
</section>
