<section class="section">
    <div class="container is-fluid columns">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    All {$ species.name $} animals
                </p>

                <div class="panel-block one-animal-container" ng-repeat="animal in speciesAnimals" ng-click="selectAnimal(index)">
                    <div class="animal-div">
                        <a class="link" ng-href="#/animals/{$ animal.slug $}">
                            <b>{$ animal.name $}&nbsp;</b>
                        </a>
                        <div ng-if="animal.latest_sighting !== null">
                            at
                            <a ng-href="#/locations/{$ animal.latest_sighting.location.id $}">
                                {$ animal.latest_sighting.location.name $}
                            </a>
                        </div>
                    </div>
                    <div class="time-div">
                        <p class="time" ng-if="animal.latest_sighting !== null">
                            {$ animal.latest_sighting.time $}
                        </p>
                        <div ng-if="animal.latest_sighting === null">
                            No sightings yet!
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</section>
