<section class="section">
    <div class="container columns">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    All {$ species.name $} animals
                </p>

                <div class="panel-block" ng-repeat="animal in speciesAnimals" ng-click="selectAnimal(index)">
                    <a class="link" ng-href="#/animals/{$ animal.id $}">
                        <b>{$ animal.name $}&nbsp;</b>
                    </a>
                    <p ng-show="animal.latest_sighting !== null">
                        {$ animal.latest_sighting.time $} at <a ng-href="#/locations/{$ animal.latest_sighting.location.id $}">
                            {$ animal.latest_sighting.location.name $}
                        </a>
                    </p>
                </div>
            </nav>

        </div>
    </div>
</section>
