<section class="section">
    <div class="container is-fluid columns">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    All animals latest seen at {$ location.name $}
                </p>

                <div class="panel-block one-animal-container" ng-repeat="sighting in locationSightings">
                    <div class="animal-div">
                        <a class="link" ng-href="#/animals/{$ sighting.animal.slug $}">
                            <b>{$ sighting.animal.name $}&nbsp;</b>
                        </a>
                        ({$ sighting.animal.species.name $})
                        <div ng-if="sighting.animal.latest_sighting !== null">
                            &nbsp;at {$ location.name $}
                        </div>
                    </div>
                    <div class="time-div">
                        <p class="time" ng-if="animal.latest_sighting !== null">
                            {$ sighting.time $}
                        </p>
                        <div ng-if="animal.latest_sighting === null">
                            No sightings yet!
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</section>
