{% extends 'forest_creatures/base.html' %}

{% block content %}

    <section class="section">
        <div class="container">

            <h1 class="title is-1 animal-title">{{ animal.name }}
                <a class="edit-btn" href="edit.html">
                    <svg class="edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </a>
            </h1>
            <h5 class="subtitle is-5">{{ animal.species }}</h5>
            <hr>

            <nav class="panel">
                <p class="panel-heading">
                    Sightings
                </p>

                <label class="panel-block sighting">
                    <a class="sighting-edit-btn" href="edit.html">
                        <svg class="sighting-edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </a>
                    22:15 20.03.2017 - Tartumaa
                </label>
                <label class="panel-block sighting">
                    <a class="sighting-edit-btn" href="edit.html">
                        <svg class="sighting-edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </a>
                    22:15 20.03.2017 - Tartumaa
                </label>
                <label class="panel-block sighting">
                    <a class="sighting-edit-btn" href="edit.html">
                        <svg class="sighting-edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </a>
                    22:15 20.03.2017 - Tartumaa
                </label>
                <label class="panel-block sighting">
                    <a class="sighting-edit-btn" href="edit.html">
                        <svg class="sighting-edit-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </a>
                    22:15 20.03.2017 - Tartumaa
                </label>
            </nav>

        </div>
    </section>

    <section class="section">
        <div class="container">


            <input type="text" class="title is-1 animal-edit-input" id="animal-name" value="{{ animal.name }}">
            <input class="subtitle is-5 animal-edit-input" id="animal-species" value="{{ animal.species }}">
            <hr>

            <nav class="panel">
                <p class="panel-heading">
                    Sightings
                </p>

                <label class="panel-block sighting editing">
                    <input class="animal-edit-input" id="animal-sighting" value="22:15 20.03.2017 - Tartumaa">
                </label>
                <label class="panel-block sighting editing">
                    <input class="animal-edit-input" id="animal-sighting" value="22:15 20.03.2017 - Tartumaa">
                </label>
                <label class="panel-block sighting editing">
                    <input class="animal-edit-input" id="animal-sighting" value="22:15 20.03.2017 - Tartumaa">
                </label>
                <label class="panel-block sighting editing">
                    <input class="animal-edit-input" id="animal-sighting" value="22:15 20.03.2017 - Tartumaa">
                </label>
            </nav>

        </div>
    </section>

{% endblock %}
