<section class="section">
    <div class="container is-fluid columns-container">
        <div class="column is-half is-offset-one-quarter">

            <nav class="panel">
                <p class="panel-heading">
                    Species
                </p>

                <a class="panel-block"
                   ng-repeat="(index, oneSpecies) in species"
                   ng-click="selectSpecies(index)"
                   ng-href="#/species/{$ oneSpecies.id $}">
                    {$ oneSpecies.name $}
                </a>
            </nav>
        </div>
    </div>
</section>
