{% extends 'forest_creatures/base.html' %}

{% block content %}

    {% load static %}

    <section class="section" ng-controller="HomeController">
        <div class="container columns">
            <div class="column is-one-third is-offset-1">
                <h1 class="title is-1 species-title">Forest creatures</h1>

                <nav class="panel">
                    <p class="panel-heading">
                        Species
                    </p>

                    <a class="panel-block" ng-repeat="(index, oneSpecies) in species" ng-click="selectSpecies(index)">
                        {$ oneSpecies.name $}
                    </a>
                </nav>
            </div>
            <div class="column is-one-third is-offset-2 animals-column">
                <div ng-show="activeSpecies !== null">
                    <h2 class="title is-3">All {$ activeSpecies.name $} animals</h2>
                    <hr>
                    <article class="media" ng-repeat="animal in activeSpeciesAnimals">
                        <div class="media-content">
                            <div class="content">
                                <a class="link" ng-href="/animals/{$ animal.id $}">
                                    <b>{$ animal.name $}</b>
                                </a>
                                <p ng-show="animal.latest_sighting !== null">
                                    {$ animal.latest_sighting.time $} at <a ng-href="/api/locations/{$ animal.latest_sighting.location.id $}">
                                        {$ animal.latest_sighting.location.name $}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'forest_creatures/home.js' %}"></script>

{% endblock %}