body {
    min-height: 100vh;
}

.animal-title:hover .edit-icon, .sighting:hover .sighting-edit-icon {
    visibility: visible;
}

.edit-icon, .sighting-edit-icon {
    width: 24px;
    height: 24px;
    fill: #2e3035;
    vertical-align: middle;
    visibility: hidden;
}

.sighting-edit-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

label.panel-block.sighting {
    cursor: default;
}

.animal-edit-input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in;
    padding: 0;
}

.animal-edit-input:focus {
    border-bottom: 2px solid #00D1B2;
}

.animal-edit-input.subtitle {
    display: block;
    margin-top: 5px;
    line-height: 1.5em;
}

.sighting .animal-edit-input {
    font-size: 16px;
    margin-left: 23px;
    width: 90%;
    line-height: 1.5em;
    padding: 1px;
}

.add-button {
    float: right;
    padding: 1px 6px;
    cursor: pointer;
    border: 2px solid #00d1b2;
    background-color: #00d1b2;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    margin-top: -1px;
}

.add-button a {
    color: #ffffff;
}

.add-button:hover {
    background-color: #00b495;
    border-color: #00b495;
}

.one-animal-container {
    justify-content: space-between;
}

.animal-div {
    display: flex;
}


/*******************************\
    Species and animals
\*******************************/

.animals-column {
    margin-top: 15px;
}

.panel-block.is-active {
    color: #00d1b2;
}

.link {
    display: block;
    color: #4a4a4a;
    transition: color 0.1s ease-in-out;
}

.link:hover {
    cursor: pointer;
    color: #00d1b2;
}

.columns-container {
    margin: 0 auto;
}

.full-height-section {
    min-height: 100vh;
    margin-top: -65px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding: 40px 50px;
    border-radius: 10px;
    width: 33%;
    transition: all 225ms ease-in;
    transition-delay: 100ms;
    display: flex;
    justify-content: center;
}

.search-input {
    line-height: 30px;
    font-size: 28px;
    padding: 10px 15px;
    width: calc(100% - 50px);

    border: none;
    border-bottom: 2px solid #00D1B2;
    color: #a9a9a9;
}

.search-input:focus {
    outline: none;
}

.sightings-container, .submit-container {
    margin-top: 30px;
}