body {
    min-height: 100vh;
    background-color: #fff;
}

.section {
    background-color: transparent;
}

.panel-block {
    background-color: #fff;
}

.edit-icon, .sighting-edit-icon {
    width: 24px;
    height: 24px;
    fill: #2e3035;
    vertical-align: middle;
}

.edit-icon:hover, .sighting-edit-icon:hover {
    fill: #6b6e73;
}

.sighting-edit-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

label.panel-block.sighting {
    cursor: default;
}

a.add-button {
    float: right;
    padding: 1px 6px;
    cursor: pointer;
    border: 2px solid #00d1b2;
    background-color: #00d1b2;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    margin-top: -1px;
}

.add-button:hover {
    background-color: #00b495;
    border-color: #00b495;
}

.one-animal-container {
    justify-content: space-between;
}

.animal-div {
    display: flex;
}

.add-sighting {
    text-align: center;
}


/*******************************\
    Species and animals
\*******************************/


.animals-column {
    margin-top: 15px;
}

.panel-block.is-active {
    color: #00d1b2;
}

.link {
    display: block;
    color: #4a4a4a;
    transition: color 0.1s ease-in-out;
}

.link:hover {
    cursor: pointer;
    color: #00d1b2;
}

.columns-container {
    margin: 0 auto;
}

.full-height-section {
    min-height: 100vh;
    margin-top: -65px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding: 40px 50px;
    border-radius: 10px;
    width: 33%;
    transition: all 225ms ease-in;
    transition-delay: 100ms;
    display: flex;
    justify-content: center;
}

.search-input {
    line-height: 30px;
    font-size: 28px;
    padding: 10px 15px;
    width: calc(100% - 50px);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00D1B2;
    color: #a9a9a9;
}

.search-input:focus {
    outline: none;
}

.form-container.sightings-container .sighting {
    margin-bottom: 30px;
}

.sightings-container, .submit-container {
    margin-top: 30px;
}


/**************************\
     AUTOCOMPLETE
\**************************/

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    border-radius: 3px;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    border: 1px solid rgb(219, 219, 219);
    box-shadow: rgba(10, 10, 10, 0.0980392) 0px 1px 2px inset;
    border-radius: 3px;
}

.md-whiteframe-z1.md-menu-showing {
    border: 1px solid #00d1b2;
}

md-autocomplete input:not(.md-input) {
    font-size: 1rem;
}